/*

    Introduction to Cloud Computing
    Summer 2021
    Carnegie Mellon University
    
    File: tiny_toonify.css
    
    Program: tiny_toonify
    
    This is the layout format for Tiny Toonify website.
    
    By Mike Chiang (MC)
    Modified by Somya Mittal
    
    Change History:
    
    VER  DATE        BY  DESCRIPTION
    ===  ====        ==  ===========
    1.0  05/30/2021  MC  Forked from Mike's 2020 project

*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5dce6;
}

#header-nav {
    background-color: #dadfb2;
}

#logo-img {
    width: 50px;
    height: 50px;
    margin: 10px 15px 10px 0;
}

.navbar-brand {
    padding-top: 25px;
    margin-bottom: 20px;
}

.navbar-brand p {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.container .jumbotron {
    margin-top: 30px;
    box-shadow: 0 0 50px #1c434d;
    border: 2px solid #3F0C1F;
}


form{
    margin-top: 50px;
}

form > h1 {
    font-size: 3em;
}

form > label {
    font-size: 1.2em;
}

form > p {
    text-align: center;
	color: gray;
	font-size: 14px;
	font-style: italic;
}

.container .btn-primary{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    margin: 5px;
}

#result-display > img {
    height: 512px;
    box-shadow: 0 0 50px #1c434d;
    border: 2px solid #3F0C1F;
    margin: 20px;
}

#result-display {
    margin-top: 50px;
    margin-bottom: 100px;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: white;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#contact-me, #RealToonify {
  line-height: 2;
}

#contact-me > span, #RealToonify > span {
  font-size: 1.3em;
}

#RealToonify p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

#testimonials {
  font-style: italic;
}
